.row{
   padding-top: 50px;
   padding-bottom: 30px;
}

h2.text-center{
    font-size: 40px;
    color: black;
    font-weight: 400;
}

.abt-txt{
    padding-left: 60px;
}

.about-img{
    border-radius:37px ;
}


.abt-text{
    font-size: 30px;
    line-height: 2.5;
    direction: rtl;
}